.calendar-app {
    width: 60%;
    min-width: 90vmin;
    aspect-ratio: 3 / 2;
    background-color: #1e242d;
    padding: 3rem;
    border-radius: 3rem;
    border: 1rem solid #0f1319;
    display: flex;
    column-gap: 5rem;
    position: relative;
    transform-style: preserve-3d;
}

.calendar-app::after {
    content: '';
    position: absolute;
    bottom: -12rem;
    left: 50%;
    transform: translate(-50%) rotateX(50deg);
    width: 90%;
    height: 16rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20rem;
    filter: blur(4rem);
}

.calendar {
    width: 40%;
}

.heading {
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(4rem, 3.8cqi, 7rem);
    color: #fff;
    letter-spacing: .3rem
}

.navigate-date {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin: 3.5rem 0;
}

.navigate-date h2 {
    font-size: clamp(1.5rem, 1.5cqi, 2.5rem);
    color: #bbb;
}

.buttons {
    display: flex;
    column-gap: 1 rem;
    margin-left: auto;
}

.buttons i {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #2c3542;
    border-radius: 50%;
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 2rem;
    color: #c97f1a;
}